<!DOCTYPE html>
<html>
  <head>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1>Welcome</h1>
    <a href="/userPage"><button>Create User</button></a>
    <a href="/taskPage"><button>Add task </button></a>
  </body>
</html>
